<script lang="typescript">
  import Banner from './_components/banner/index.svelte';
  import Footer from './_components/footer.svelte';

  import Introduction from './_components/content/introduction.svelte';
  import TheCourse from './_components/content/the-course.svelte';
  import WhoIsItFor from './_components/content/who-is-it-for.svelte';
  import WhyFLOSS from './_components/content/why-floss.svelte';
  import WhoWeAre from './_components/content/who-we-are.svelte';
  import Subscribe from './_components/content/subscribe.svelte';

  import {FragmentId} from '$lib/enums/fragment-ids';

  const title = 'MOOC FLOSS';
  const description = `
    How to become a confident contributor to Free/Libre and Open Source Software.
    Develop career-changing expertise with this hands-on course.
  `;
</script>

<svelte:head>
  <title>{title}</title>
  <meta name="description" content={description} />
</svelte:head>

<Banner />

<Introduction />

<TheCourse fragmentId={FragmentId.Course} />
<WhoIsItFor fragmentId={FragmentId.WhoIsItFor} />
<WhyFLOSS fragmentId={FragmentId.WhyFloss} />
<WhoWeAre fragmentId={FragmentId.WhoWeAre} />
<Subscribe fragmentId={FragmentId.Subscribe} />

<Footer />
