/*------------------------------------*\
    GRID MIXINS
\*------------------------------------*/
$use-flexbox-grid: true !default;
$use-legacy-grid: false !default;
$grid-wrap-classname: gw !default;
$grid-wrap-item-classname: g !default;
$grid-item-unit-delimiter: -of- !default;
$grid-item-gutter: 1.5rem !default;

@import 'grid-items';
@import 'grid-wraps';

@import 'grid-item-widths';
@import 'grid-item-push';
@import 'grid-item-pull';
