/*------------------------------------*\
    HEADINGS
\*------------------------------------*/
h1 {
  @include u-fs--h1;
}
h2 {
  @include u-fs--h2;
}
h3 {
  @include u-fs--h3;
}
h4 {
  @include u-fs--h4;
}
h5 {
  @include u-fs--h5;
}
h6 {
  @include u-fs--h6;
}
