<script lang="typescript">
  export let href: string;
  let klass = '';
  export {klass as class};
</script>

<a {href} class="block-link {klass}" {...$$restProps}>
  <span class="block-link__content">
    <slot />
  </span>
</a>
