/*------------------------------------*\
    CAPTIONED IMAGE
\*------------------------------------*/
.captioned-image {
  @include f8-btn--reset;
  display: inline-block;
  position: relative;
}

  .captioned-image__image {
    display: block;
  }

  .captioned-image__caption {
    @include u-padding;
    background-color: transparentize($clr-grey-dk, .2);
    font-size: px-to-rem($fs-milli);
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    opacity: 0;

    .captioned-image:hover &,
    .captioned-image:focus & {
      opacity: 1;
    }
  }

    .captioned-image__caption__content {
      display: block;
      transform: translate3d(0, .5em, 0);
      transition: all .3s ease-in-out;
      white-space: normal;
      max-width: 220px;

      .captioned-image:hover &,
      .captioned-image:focus & {
        transform: translate3d(0, 0, 0);
      }
    }
