/*------------------------------------*\
    CIRCLES
\*------------------------------------*/
%circle {
  @include f8-btn--reset;
  background-color: $clr-base;
  border-radius: 50%;
  color: var(--struct-clr-ntrl-max);
  display: inline-block;
  font-size: px-to-rem($fs-nano);
  height: 1.75em;
  overflow: hidden;
  position: relative;
  width: 1.75em;
}
.circle {
  @extend %circle;
}

.circle--primary {
  @extend %circle;
  background-color: var(--struct-clr-primary);
}
button.circle--primary,
a.circle--primary {
  @include u-bgc--link-states--primary;
}

.circle__inner {
  left: 50%;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  & .icon {
    font-size: 0.75em;
  }
}
