/*------------------------------------*\
    $FLEX VIDEO
\*------------------------------------*/
@mixin f8-flex-video {
  @include f8-ratio-object(percentage(3/4));
  padding-block-start: 25px;

  & iframe,
  & object,
  & embed,
  & video {
    @include f8-flex-video__inner;
  }
}

@mixin f8-flex-video__inner {
  @include f8-ratio-object__inner;
  width: 100%;
  height: 100%;
}

@mixin f8-flex-video--widescreen {
  padding-block-start: 0;

  &:before {
    padding-block-end: percentage(9/16); /* 16:9; */
  }
}
@mixin f8-flex-video--vimeo {
  padding-block-start: 0;
}
