<script lang="typescript">
  export let src: string;
  export let alt: string;
  let klass = '';
  export {klass as class};
</script>

<span tabindex="0" class="captioned-image {klass}" {...$$restProps}>
  <img class="captioned-image__image" {src} {alt} />

  <span class="captioned-image__caption">
    <span class="captioned-image__caption__content">
      <slot />
    </span>
  </span>
</span>
