/*------------------------------------*\
    MENU
\*------------------------------------*/
%menu-container {
  @include media-query(portable) {
    overflow: hidden;
  }
}

%menu {
  display: inline-block;
  @include f8-list--reset;

  @include media-query(portable) {
    display: block;
  }
}

%menu__item {
  position: relative;
  display: inline-block;

  @include media-query(portable) {
    display: block;
  }

  & > a {
    display: block;
    color: var(--struct-clr-primary);
    line-height: 3;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    font-weight: bold;

    @include u-fc--link-states(
      var(--struct-clr-ntrl-min),
      var(--struct-clr-primary),
      var(--struct-clr-ntrl-min)
    );

    &:hover {
      outline: 0;
    }

    &:active {
    }

    @include media-query(portable) {
      @include u-padding--large--inline;
      font-size: px-to-rem($fs-h6);
      line-height: 2;
    }
  }

  %menu__sub & {
    display: block;
  }
}
.menu__item {
  @extend %menu__item;
}

%menu__item--current {
  & > a {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: default;
    }
  }
}
.menu__item--current,
.menu__item--current-parent {
  @extend %menu__item--current;
}
